@import url('https://fonts.googleapis.com/css?family=Russo+One');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}



html, .body { min-height: 100vh; width: 100%; overflow-y: auto; }


.body {
	padding: 20px 0;
	font-family: 'Russo One', sans-serif;
	background-color: #e8e6ff;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-areas: 'left right';
}




.left {
	grid-area: left;
	/* background-color: green; */
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.text-editor {
	width: 90%;
	/*min-height: 230px;*/
	height: fit-content;
	/*background-color: yellow;*/
}

.editor-header {
	width: 100%;
	height: 30px;
	background-color: #8a8a8a;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	font-size: 1.4em;
	padding: 2px 10px;
}

.editor-header i.fa-code {
	float: left;
	margin-right: 10px;
}

#editor {
	min-width: 100%;
	max-width: 100%;
	min-height: 200px;
	background-color: #bbd2ff;
	font-size: 1.2em;
	padding: 10px;
	overflow-y: auto;
	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;
}

#editor:focus {
	outline: none;
}





.right {
	grid-area: right;
	/* background-color: blue; */
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.text-previewer {
	width: 90%;
	/*min-height: 230px;*/
	height: fit-content;
	/*background-color: yellow;*/
}

.previewer-header {
	width: 100%;
	height: 30px;
	background-color: #8a8a8a;
	font-size: 1.4em;
	padding: 2px 10px;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;

}

.previewer-header i.fa-expand {
	float: right;
	margin-right: 10px;
}

#preview {
	min-width: 100%;
	max-width: 100%;
	min-height: 200px;
	background-color: #aeff7f;
	padding: 5px 25px;
	font-size: 1em;
	font-family: sans-serif;
	overflow-y: auto;
	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;
	border: 1px solid #8a8a8a;
}



.expand {
	float: right;
	border: 1px solid #c1c1c1;
	background-color: inherit;
	cursor: pointer;
	width: 25px;
	height: 25px;
}
.expand:focus {
	outline: none;
}

@media (max-width: 768px){
	.body {
		grid-template-columns: 100%;
		grid-template-rows: auto auto;
		grid-template-areas: 'left'
							'right';
	}
}